{% extends "base.html" %}
{% block content %}
<div class="row column text-center">
    <h4>Compare Result (player1 against player2): {{result}}</h4>
</div>
<div class="row column">
    <div class="medium-6 columns">
        <h5>{{s1.player.name}}</h5>
        <ul>
            <li>steam id: {{s1.player.steam_id}}</li>
            <li>person name: {{s1.player.personaname}}</li>
            <li>week score: {{s1.week_score}}</li>
            <li>month score: {{s1.month_score}}</li>
            <li>year score: {{s1.year_score}}</li>
            <li>overall score: {{s1.overall_score}}</li>
            <li>overall count: {{s1.overall_count}}</li>
            <li>score date: {{s1.score_date}}</li>
        </ul>
    </div>
    <div class="medium-6 columns">
        <h5>{{s2.player.name}}</h5>
        <ul>
            <li>steam id: {{s2.player.steam_id}}</li>
            <li>person name: {{s2.player.personaname}}</li>
            <li>week score: {{s2.week_score}}</li>
            <li>month score: {{s2.month_score}}</li>
            <li>year score: {{s2.year_score}}</li>
            <li>overall score: {{s2.overall_score}}</li>
            <li>overall count: {{s2.overall_count}}</li>
            <li>score date: {{s2.score_date}}</li>
        </ul>
    </div>
</div>
{% endblock %}
