{% extends "base.html" %}
{% block content %}
<p class="lead">API Details</p>
<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
    <div class="cell">
        <div class="callout">
            <p>LeaderBoard</p>
            <p><img src="https://placehold.it/200x170&amp;text=LeaderBoard" alt="image of leaderboard"></p>
            <p class="lead">https://dota-flask.herokuapp.com/leaderboard</p>
            <p class="subheader">
                HTML example: <a href="/leaderboard?ids=89427480,88553213&sort=o">https://dota-flask.herokuapp.com/leaderboard?ids=89427480,88553213&sort=o</a>
            </p>
            <p class="subheader">
                JSON example: <code>curl -i -H "Accept: application/json" "https://dota-flask.herokuapp.com/leaderboard?ids=89427480,88553213&sort=o"</code>
            </p>
        </div>
    </div>
    <div class="cell">
        <div class="callout">
            <p>Comparison</p>
            <p><img src="https://placehold.it/200x170&amp;text=Comparison" alt="image of comparison"></p>
            <p class="lead">https://dota-flask.herokuapp.com/compare</p>
            <p class="subheader">
                HTML example: <a href="/compare?p1=89427480&p2=88553213">https://dota-flask.herokuapp.com/compare?p1=89427480&p2=88553213</a>
            </p>
            <p class="subheader">
                JSON example: <code>curl -i -H "Accept: application/json" "https://dota-flask.herokuapp.com/compare?p1=89427480&p2=88553213"</code>
            </p>
        </div>
    </div>
    <div class="cell">
        <div class="callout">
            <p>Recommendation</p>
            <p><img src="https://placehold.it/200x170&amp;text=Recommendation" alt="image of recommendation"></p>
            <p class="lead">https://dota-flask.herokuapp.com/recommend</p>
            <p class="subheader">
                HTML example: <a href="/recommend?p=89427480">https://dota-flask.herokuapp.com/recommend?p=89427480</a>
            </p>
            <p class="subheader">
                JSON example: <code>curl -i -H "Accept: application/json" "https://dota-flask.herokuapp.com/recommend?p=89427480"</code>
            </p>
        </div>
    </div>
</div>
{% endblock %}
